<%= form_tag import_memos_path, multipart: true do %>
  <button type="button" class="btn btn-primary">
    <%= file_field_tag :file, class:"btn btn-primary" %>
  </button>

  <button type="button" >
    <%= submit_tag "アップロード", class:"btn btn-primary"%>
  </button>
<% end %>

