<div class="wrapper">
  <div class="container flex-start">
　　<div class="col-box-1">
    <h2>ジャンル一覧</h2>
　　</div>
  </div>
</div>

<a href="http://127.0.0.1:3000/memos">メモ帳へ</a>
<a href="http://127.0.0.1:3000/csv">CSV読み取りページへ</a>
