<!DOCTYPE html>
<html>
  <head>
    <title>IIDXなんちゃら</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <style>
      tr:nth-child(-n+10) {
        background-color: #f2f2f2;
      }
    </style>
  </head>

  <body>
    <div class="wrapper header-color">
      <div class="container">
        <a href="http://127.0.0.1:3000/userpage"  style="text-decoration: none;">
        <div class="h1"><span class="fs-1">ノーツレーダ値　見れるやつ</span> </div>
        </a>
      </div>
    </div>

    <%= yield %>
  </body>
</html>